#border{
    height:400px;
    width:500px;
    border-width:15px;
    border-color:black;
    border-style:solid;
    left: 50%;
    top:50%;
    margin-top:-200px;
    margin-left:-250px;
}
h1{
    text-align:center;

}
h2{
    text-align:center;
}
img{
    position: absolute;
    bottom:0;
    height:40px;
    width:40px;
}
#move{
    background-color:black;
    height:20px;
    width:55px;
    float: right;
}